<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Weight in Gold</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gold/style.css' %}">
</head>
<body>
    <div>
        <h2>Worth Your Weight in Gold</h2>
        <p>instructions...</p>
    </div>

    <div>
        <h2>Converter:</h2>

        <input type="number">

        <select>
            <option value="g">g</option>
            <option value="T">T</option>
            <option value="kg">kg</option>
            <option value="lb">lb</option>
            <option value="oz">oz</option>
        </select>

        <span>to troy ounces</span>

        <button>compute</button>
    </div>

    <div>
        <p id="display">"Please Wait"</p>
    </div>

    <script type="text/javascript" src="{% static 'gold/script.js' %}"></script>
</body>
</html>