<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Weight in Gold</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gold/style.css' %}">
</head>
<body>
    <div>
        <h2>Derplandia!</h2>
        <p>instructions</p>
    </div>

    <div>
        <h2>Converter:</h2>
        <input type="number">
        <select>
            <option value="screw">screw</option>
        </select>
        <span>to</span>
        <input type="number">
        <span>troy ounce</span>
        <button>compute</button>
    </div>
    
    <div>
        <p>derpiness...</p>
    </div>
</body>
</html>